extends layout

block main
    div.container
        form(method="post", role="form", id="submitForm")
            div.col
                input(type='text', name='name', placeholder="Name", id="name")
            div.col    
                input(type='password', name='password', placeholder="Password", id="password")
            div.col    
                input(type='submit', name='submit', value="Submit")
            div.col    
                a(href='/') Home
    div.container
        p#hello







