doctype html
html(lang='en')
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        link(rel="stylesheet", type="text/css" href="/css/main.css")
    body
        div.mynav
            h1 CSV Creation 
            ul
                li 
                    a(href='/') Home
                li 
                    a(href='/ajax') Ajax
                li 
                    a(href='/') Info

    block main

    block additional_js
        script(src='/js/ajax.js')    